<!-- ----------------- START OF SHIFT COMPONENTS ----------------- -->
<td class="inner-table">
    <tr>
      <td></td>
      <td ><span class="shift" [ngStyle]="shiftObject">{{empName}}</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</td>
