td,
th {
  min-width: 100px;
  // height: 25px;
  height: 100%;
}

#outter-table th {
  text-align: left;
  padding-top: 5%;
}

.inner-table tr td {
  position: relative;
  height: 100%;
}

.inner-table {
  height: 100%;
}

.shift-grid {
  border: 1px solid lightgray !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-right: 0 !important;
  height: 120px !important;
  padding-bottom: 50px !important;
}

.shift {
  position: absolute;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: rgb(250, 90, 255);
  background: linear-gradient(
    90deg,
    rgba(250, 90, 255, 1) 2%,
    rgba(163, 63, 255, 1) 47%,
    rgba(0, 195, 157, 1) 94%
  );
  background-size: 400%;
  animation: bg-animation 60s infinite alternate;
}

.shift:hover {
  box-shadow: 0 7px 14px rgba(161, 33, 165, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
