<!-- ----------------- START OF SHIFT COMPONENTS ----------------- -->
<td class="inner-table">
    <tr>
      <!-- <td ></td> -->
      <td *ngFor="let n of num">
        <span class="shift" [ngStyle]="shiftObject" *ngIf="shift.shiftTime.getHours()+5 == n">{{empName}}</span>
        {{n}}
      </td>
      <!-- <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td> -->
    </tr>
</td>
