
<div class="field is-grouped">
    <p class="control">
        Sender: <strong>{{currentUser.firstName}} {{currentUser.lastName}}</strong>
    </p>
    <div class="field">
        <label class="label">Receiver: </label>
        <p class="control" style="float:right">
            <div class="select">
                <select>
                    <option *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</option>
                </select>
            </div>
            <!-- <div class="select" #showPositions>
                <select>
                    <option *ngFor="let position of positions">{{position.name}}</option>
                </select>
            </div> -->
        </div>
    </div>
    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Message"></textarea>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>