<form (submit)="onSubmit($event)">
    <div class="field is-grouped">
        <p class="control" >
            <label class="label"> Sender:</label> <em>{{currentUser.firstName}} {{currentUser.lastName}}</em>
        </p>
        <div class="field">
            <p class="control">
            <label class="label"> Receiver: </label>
            <div class="select">
                <select (change)="setTargetPosition($event)">
                    <option *ngFor="let position of positions" [(ngModel)]="message.position">{{position.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
        <label class="label">Message</label>
            <textarea class="textarea" placeholder="Message" [(ngModel)]="message.content" name="content"></textarea>
        </div>
    </div>
    <div class="control">
        <button class="button is-link" type="submit" value = "Submit">Submit</button>
    </div>
    <!-- <div class="control">
        <button class="button is-link is-light">Cancel</button>
    </div> -->
</form>