$default-color: rgba(0,0,0,1);

.container {
    padding: 100px 0;
    width: 98vw;
    max-width: 800px;
}

h1 {
    text-align: center;
}
.bulletin-window {
  margin-top: 20px;
  max-height: 60vh;
  overflow: auto;
}
