.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 150%;
  }
  
  .example-full-width {
    min-width: 125px;
    max-width: 500px;
    width: 100%;
    
  }
  
  td {
    padding-right: 8px;
  }

  .profile-pic {
    border-radius: 50%;


  }





