td,
th {
  width: 100px;
  height: 25px;
}

#outter-table th {
  text-align: left;
}

.inner-table tr td {
  position: relative;
  height: 25px;
}

.shift {
  position: absolute;
  height: 25px;
  // Possible color
  background-color: aqua;
  border-style: solid;
  border-radius: 5px;
  top: 0;
  // adjusts within the hour
  left: 0;
  // Styling max goes here
  // Width math goes here
  width: 400px;

  // flex
  display: flex;
  justify-content: center;
  align-items: center;
}
