<ng-container>
  <div class="container">
    <!-- <table border="1" cellpadding="0" cellspacing="0" width="100%"> -->
      <tr id="outter-table">
        <!-- This will need a static width -->
        <!-- Possibly dynamically render times using recursion -->
        <th></th>
        <th data="6">6:00 am</th>
        <th>7:00 am</th>
        <th>8:00 am</th>
        <th>9:00 am</th>
        <th>10:00 am</th>
        <th>11:00 am</th>
        <th>12:00 pm</th>
        <th data="13">1:00 pm</th>
        <th>2:00 pm</th>
        <th>3:00 pm</th>
        <th>4:00 pm</th>
        <th>5:00 pm</th>
        <th>6:00 pm</th>
        <th>7:00 pm</th>
        <th>9:00 pm</th>
        <th>10:00 pm</th>
        <th>11:00 pm</th>
        <th>12:00 am</th>
        <th>1:00 am</th>
        <th>2:00 am</th>
        <th>3:00 am</th>
        <th>4:00 am</th>
        <th>5:00 am</th>
      </tr>
        <rev-roles></rev-roles>
        <rev-roles></rev-roles>
  </div>
</ng-container>
