.calendar-container {
  height: 70vh;
  overflow: auto;
  padding: 2.5em;
  -moz-box-shadow: inset 0 0 15px #6816ac;
  -webkit-box-shadow: inset 0 0 15px #6816ac;
  box-shadow: inset 0 0 15px #3c0e63;
}

.table-header {
  border-left: 1px solid black;
  z-index: 100;
}

.table-header:after {
  border-left: 1px solid black;
  z-index: 100;
}

td,
th {
  min-width: 100px;
  max-width: 100px;
  height: 50px;
  padding-top: 2em;
}

tr td {
  width: 100px;
}

#outter-table th {
  text-align: center;
}

.current-day-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.current-day {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  width: 90%;
  min-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}
