<p>login-form</p>

<form (submit) = "onSubmit($event)">
    <div class = "box">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input [ngClass]="(error)?'input is-danger':'input'" [(ngModel)]="user.email" class="input" type="email" placeholder="username" name = "email">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control" >
                <input [ngClass]="(error)?'input is-danger':'input'" [(ngModel)]="user.password"  type="password" placeholder="password" name = "password">
            </div>
        </div>

        <div class="field is-grouped">
                <div class="control">
                    <p *ngIf = "error" > {{ error }}</p>
                    <button class="button is-link" type = "submit" value = "Submit">Submit</button>
            </div>
        </div>
    </div>
</form>
<div>{{user.email}}</div>
<div>{{user.password}}</div>


