<div class="form-container">
  <img src="https://www.brandbucket.com/sites/default/files/logo_uploads/192388/large_shift.ly.png" alt="">

  <form (submit) = "onSubmit($event)">
      <div class = "box">
          <div class="field">
              <label class="label">Email</label>
              <div class="control">
                  <input [ngClass]="(error)?'input is-danger':'input'" [(ngModel)]="user.email" class="input" type="email" placeholder="username" name = "email">
              </div>
          </div>

          <div class="field">
              <label class="label">Password</label>
              <div class="control" >
                  <input [ngClass]="(error)?'input is-danger':'input'" [(ngModel)]="user.password"  type="password" placeholder="password" name = "password">
              </div>
          </div>

          <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" type = "submit" value = "Submit">Submit</button>
                <span *ngIf = "error" class="help is-danger"> {{ error }}</span>
              </div>
          </div>
      </div>
  </form>
</div>

