*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // background: black;
}

.container {
  text-align: center;
}

section {
  width: 30%;
  display: inline-block;
  text-align: center;
  min-height: 215px;
  vertical-align: top;
  margin: 1%;
  // background: #080915;
  // border-radius: 5px;
  // -webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
  // box-shadow: 0px 0px 30px 1px #103136 inset;
}

@media only screen and (max-width: 600px) {
  section {
    min-width: 350px;
  }
}

.loader-line {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

/*LOADER-7*/

.loader-7 .line {
  width: 8px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  /*         background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 90, 255, 1)), to(#5714ce));
    background: -webkit-linear-gradient(top, #1ee95d, #5714ce); */
  background: linear-gradient(
    180deg,
    rgba(250, 90, 255, 1) 0%,
    rgba(63, 96, 255, 1) 81%,
    rgba(82, 100, 255, 1) 100%
  );
}

.loader-7 .line1 {
  left: 0;
  -webkit-animation: line-grow 0.5s ease alternate infinite;
  animation: line-grow 0.5s ease alternate infinite;
}

.loader-7 .line2 {
  left: 20px;
  -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
  animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.loader-7 .line3 {
  left: 40px;
  -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
  animation: line-grow 0.5s 0.4s ease alternate infinite;
}

/* ----------------     KEYFRAMES    ----------------- */

@-webkit-keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 75%;
  }
}

@keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 75%;
  }
}
