
<div class = "grid-container">
  <mat-grid-list cols="20" rowHeight="1:2">

    <mat-grid-tile [colspan]="11" [rowspan]="2">
      <mat-card class="dashboard-card">
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="4">
      <mat-card class="dashboard-card">
          <rev-user class = "form-area"></rev-user>
      </mat-card>
    </mat-grid-tile>

    
    <mat-grid-tile [colspan]="11" [rowspan]="2">
      <mat-card class="dashboard-card">
      </mat-card>
    </mat-grid-tile>

    
  </mat-grid-list>
</div>