<h2>Post Shift</h2>

<form ngNativeValidate>
  <div class="field">
    <label class="label">Start Time</label>
    <div class="control">
      <input type="time" required class="input">
    </div>
  </div>

  <div class="field">
    <label class="label">End Time</label>
    <div class="control">
      <input type="time" required class="input">
    </div>
  </div>

  <div class="field">
    <label class="label">Position</label>
    <div class="control">
      <div class="select">
        <select [(ngModel)]="positionId" name="positionId" required>
          <ng-container *ngFor="let position of positions">
            <option [value]="position.id">
                {{position.name}}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>


  <div class="field">
    <label class="label">Employees</label>
    <div class="control">
      <div class="select">
        <select [(ngModel)]="userId" name="userId" required>
          <ng-container *ngFor="let employee of users">
            <option [disabled]="isAvailable(employee)" [value]="employee.id">
                {{employee.firstName + ' ' + employee.lastName}}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" (click)="postShift()">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>
</form>
