<div class="field">
  <label class="label">Start Time</label>
  <div class="control">
    <input type="time">
  </div>
</div>

<div class="field">
  <label class="label">End Time</label>
  <div class="control">
    <input type="time">
  </div>
</div>

<div class="field">
  <label class="label">Employees</label>
  <div class="control">
    <div class="select">
      <select>
        <option *ngFor="let employee of users" [value]="employee.id">{{employee.firstName}} {{employee.lastName}}</option>
      </select>
    </div>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="postShift()">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>
