<form (submit)="onSubmit($event)">
    <div class="field is-grouped">
        <p class="control" >
            <label class="label"> Sender:</label> <em>{{currentUser.firstName}} {{currentUser.lastName}}</em>
        </p>
        <div class="field">
            <p class="control">
            <label class="label"> Receiver: </label>
            <div class="select">
                <select (change)="setTargetUser($event.target.value)">
                    <option *ngFor="let user of users" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
                </select>
            </div>
            <!-- <div class="select" #showPositions>
                <select>
                    <option *ngFor="let position of positions">{{position.name}}</option>
                </select>
            </div> -->
        </div>
    </div>
    <div class="field">
        <div class="control">
        <label class="label">Message</label>
        <div><strong class="error">{{error}}</strong></div>
        <textarea [ngClass]="(error)?'input is-danger':'input'" class="textarea" placeholder="Message" [(ngModel)]="message.content" name="content" required></textarea>
        </div>
    </div>
    <div class="control">
        <button class="button is-link" type="submit" value = "Submit">Submit</button>
    </div>
    <!-- <div class="control">
        <button class="button is-link is-light">Cancel</button>
    </div> -->
</form>