td,
th {
  min-width: 12em;
  height: 25px;
}

#outter-table th {
  text-align: left;
}

.inner-table tr td {
  position: relative;
  height: 25px;
}

.shift {
  position: absolute;
  height: 25px;
  border-style: solid;
  border-radius: 5px;
  top: 0;

  // flex
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-row {
  padding-top: 2em;
}

.shift-button {
  padding-right: 13px;
  padding-left: 13px;
}

.is-success:hover {
  cursor: pointer;
}

.is-primary:disabled {
  cursor: no-drop;
}
