<tr *ngFor='let employee of parsedShifts | keyvalue'>
  <td>{{employee.key}}</td>

  <td class="" *ngFor='let shift of employee.value.shifts; let i = index'>
    <div *ngIf="scheduleCheck(shift) == 'Scheduled'">
      <button class="" (click)="viewModals(shift)">Scheduled</button>
    </div>
    <div *ngIf="scheduleCheck(shift, employee.value.availability, i) == 'Off'">
      <p class="">Off</p>

    </div>
    <div *ngIf="scheduleCheck(shift, employee.value.availability, i) == 'Not Scheduled'">
      <p class="">Not Available</p>
    </div>
  </td>
</tr>

<rev-modal *ngIf="viewShift" (closeModal)="viewModals(null)">
  <rev-view-shift [shift]='viewShift'></rev-view-shift>
</rev-modal>
