.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  background: rgb(250, 90, 255);
  background: linear-gradient(
    90deg,
    rgba(250, 90, 255, 1) 0%,
    rgba(63, 96, 255, 1) 81%,
    rgba(82, 100, 255, 1) 100%
  );
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
