<ng-container>
  <table class="container calendar-container table is-full-width">
    <!-- <table border="1" cellpadding="0" cellspacing="0" width="100%"> -->
      <tr id="outter-table">
        <!-- This will need a static width -->
        <!-- Possibly dynamically render times using recursion -->
        <th></th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>

      <!--ngFor here-->
      <tr>
        <td>{{name}}</td>

        <!-- ngFor, ngIf-->
        <td class="">
          <button class="">test</button>
        </td>
        <td class="">
          <button class="">test</button>
        </td>
        <td class="">
          <button class="">test</button>
        </td>
        <td class="">
          <button class="">test</button>
        </td>
        <td class="">
          <button class="">test</button>
        </td>
        <td class="">
          <button class="">test</button>
        </td>
        <td class="">
          <button class="">test</button>
        </td>
<!--
  - View Shift
  - Unavailable
  - Blank
 -->
      </tr>
    </table>
</ng-container>

