<p *ngIf="currentSchedule" >
  <span><-</span>
  {{currentSchedule.startDate.getUTCMonth()}} /
  {{currentSchedule.startDate.getUTCDay()}} /
  {{currentSchedule.startDate.getUTCFullYear()}}
  <span>-></span>
</p>
<rev-schedule-calander [schedule]="currentSchedule" *ngIf="currentSchedule; else elseBlock"></rev-schedule-calander>
<ng-template #elseBlock> blah </ng-template>

<button (click)="viewModals('a')">Click</button>
<rev-modal *ngIf="viewModal" (closeModal)="viewModals('')" [ngSwitch]="viewModal">
  <rev-new-shift *ngSwitchCase="'a'" [date]="date"></rev-new-shift>
</rev-modal>
